doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Prototype
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/style.css')
  body
    .body-wrapper
      .control-container
          button#start.btn.btn-warning Start!
          span#timer 6000
          #checks
      .row.container
        .main-col.col-xs-3
          .row.flip-container
            .col-xs-12.flipper
              .front ?
          .row.flip-container
            .col-xs-12.flipper
              .front ?
          .row.flip-container
            .col-xs-12.flipper
              .front ?
          .row.flip-container
            .col-xs-12.flipper
              .front ?
        .main-col.col-xs-3
          .row.flip-container
            .col-xs-12.flipper
              .front ?
          .row.flip-container
            .col-xs-12.flipper
              .front ?
          .row.flip-container
            .col-xs-12.flipper
              .front ?
          .row.flip-container
            .col-xs-12.flipper
              .front ?
        .main-col.col-xs-3
          .row.flip-container
            .col-xs-12.flipper
              .front ?
          .row.flip-container
            .col-xs-12.flipper
              .front ?
          .row.flip-container
            .col-xs-12.flipper
              .front ?
          .row.flip-container
            .col-xs-12.flipper
              .front ?
        .main-col.col-xs-3
          .row.flip-container
            .col-xs-12.flipper
              .front ?
          .row.flip-container
            .col-xs-12.flipper
              .front ?
          .row.flip-container
            .col-xs-12.flipper
              .front ?
          .row.flip-container
            .col-xs-12.flipper
              .front ?
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/lodash/lodash.js')
    script(src='/main.js')
